@model List<PogsRUs.Models.CartProduct>

<div class="cart-component">
    <h1>Shopping Cart Items</h1>
    @if (Model != null)
    {
        @foreach (var cartProduct in Model)
        {
         <div class="cart-item">
            <h3>@cartProduct.Name</h3>
            <p>Quantity = @cartProduct.Quantity</p>
         </div>
        }
    }
    else
    {
        <p>Shopping Cart Empty</p>
    }

</div>
