@model IEnumerable<PogsRUs.Models.Product>
@{
    ViewData["Title"] = "PogsRUs";
    Layout = "_Layout";
}
@{
}

<div class="container">
    @foreach (var product in Model)
    {

        <div class="product-contain">
            <div id="image-contain">
                <img id="post-image" src="@product.Image" alt="@product.Description">
            </div>
            <div id="content-contain">
                <h5 class="card-header">@product.Name</h5>


                <p class="card-text">@product.Description</p>

            </div>
        </div>

    }
</div>
