
@{
    ViewData["Title"] = "Professionals";
    Layout = "_Layout";
}

<h1>Welcome to the circle of Champions</h1>
<div class="circle">
    <img class="circle-pic" src="~/assets/pogcircle.jfif" />
</div>
