@using Microsoft.AspNetCore.Identity
@using PogsRUs.Models
@inject SignInManager<ApplicationUser> signInManager
<div class="username-head">
    @if (signInManager.IsSignedIn(User))
    {
        <span>Welcome @User.Claims.First(c => c.Type == "FullName").Value</span>
    }
    else
    {
        <p>YOU ARE NOT LOGGED IN!</p>
    }
</div>
<div id="headcontain">
    <div id="head-but-contain">
        <a asp-controller="Policy" id="button-new" asp-action="Professionals">Professionals</a>
        <a asp-controller="Product" id="button-new" asp-action="Index">Cart</a>
        <a asp-controller="Product" id="button-new" asp-action="Index">Products</a>
        <a asp-controller="Account" id="button-new" asp-action="Login">Login</a>
        <a asp-controller="Account" id="button-new" asp-action="Register">Register</a>
        <a asp-controller="Home" id="button-new" asp-action="Index1">Home</a>
    </div>
    <nav id="hamburger" role="navigation">
        <div id="navToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="nav">
                <li><a id="links" href='/Home/Index1'> Home </a></li>
                <li><a id="links" href='/Account/Login'> Login </a></li>
                <li><a id="links" href='/Account/Register'> Register </a></li>
                <li><a id="links" href='/Product/Index'> Products </a></li>
                <li><a id="links" href='/Policy/Professionals'> Professionals </a></li>
                <li><a id="links" href='/Home/Index1'> Cart </a></li>

                <li>
                    @if (signInManager.IsSignedIn(User))
                    {
                    <li>
                        Welcome @User.Claims.First(c => c.Type == "FullName").Value
                    </li>
                }
                else
                {
                    <li>
                        YOU ARE NOT LOGGED IN!
                    </li>
                }
                </ul>
            </div>
        </nav>
        <div id="indexcontain">
            <img src="~/assets/Logo.png" alt="Pogs R Us Logo" class="head-logo" />

        </div>
    </div>
