@using Microsoft.AspNetCore.Identity
@using PogsRUs.Models
@inject SignInManager<ApplicationUser> signInManager

<div id="headcontain">
    <div id="head-but-contain">
        @if (signInManager.IsSignedIn(User))
        {
            <a id="button-new">Hello, @User.Claims.First(c => c.Type == "FullName").Value</a>
        }
        else
        {
            <a asp-controller="Account" id="button-new" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Log In</a>

        }
        @if (!signInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" id="button-new" asp-action="Register">Register</a>

        }
        else
        {
            <a asp-controller="Account" id="button-new" asp-action="Logout"><i class="fas fa-sign-out-alt">Log Out</i></a>
        }
        <a asp-controller="Cart" id="button-new" asp-action="Checkout"><i class="fas fa-shopping-cart"></i>Cart</a>
        <a asp-controller="Policy" id="button-new" asp-action="Professionals">Professionals</a>
        <a asp-controller="Product" id="button-new" asp-action="Index">Products</a>
        <a asp-controller="Home" id="button-new" asp-action="Index1"><i class="fas fa-home"></i>Home</a>
    </div>
    <nav id="hamburger" role="navigation">
        <div id="navToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="nav">
                <li><a id="links" href='/Home/Index1'> Home </a></li>
                <li><a id="links" href='/Product/Index'> Products </a></li>
                <li><a id="links" href='/Policy/Professionals'> Professionals </a></li>
                <li><a id="links" href='/Home/Index1'> Cart </a></li>
                @if (!signInManager.IsSignedIn(User))
                {
                    <li><a id="links" href='/Account/Register'> Register </a></li>
                }
                else
                {
                    <li><a asp-controller="Account" id="button-new" asp-action="Logout"><i class="fas fa-sign-out-alt">Log Out</i></a></li>
                }
                @if (signInManager.IsSignedIn(User))
                {
                    <li>
                        Hello, @User.Claims.First(c => c.Type == "FullName").Value
                    </li>
                }
                else
                {
                    <li><a id="links" href='/Account/Login'> Login </a></li>
                }
            </ul>
            </div>
        </nav>
        <div id="indexcontain">
            <img src="~/assets/Logo.png" alt="Pogs R Us Logo" class="head-logo" />

        </div>
    </div>
