<div class="container" style="margin-left:10px">
    <ul class="nav nav-tabs">
        <li class="nav-item">
                <a asp-controller="" class="btn btn-dark shadow text-center" style="margin-right:10px" asp-action="">Button One</a>                
        </li>
        <li class="nav-item">
                <a asp-controller="" class="btn btn-dark shadow text-center" style="margin-right:10px" asp-action="Index">Button Two</a>
        </li>        
    </ul>
</div>
<br />