@model PogsRUs.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<div id="form-contain">
    <form method="post" id="form">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" id="input" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" id="input" />
            <span asp-validation-for="Password"></span>
        </div>
        <div id="but-contain">
            <button type="submit" id="button">Login</button>
        </div>
    </form>
</div>
