@model PogsRUs.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity
@using PogsRUs.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div id="form-contain">
    <form method="post" id="form">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" id="input" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" id="input" />
            <span asp-validation-for="Password"></span>
        </div>
        <div id="but-contain">
            <button type="submit" id="button">Login</button>
        </div>
    </form>
    <div id="but-contain">
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

            if (loginProviders.Count > 0)
            {

        <form asp-action="ExternalLogin" method="post">
            @foreach (var provider in loginProviders)
            {
                <button type="submit" name="provider" id="button" value="@provider.Name" title="Log in using @provider.DisplayName"> <i class="fab fa-windows"></i></button>

                <button type="submit" name="provider" id="button" value="@provider.Name" title="Log in using @provider.DisplayName"> <i class="fab fa-linkedin"></i></button>
            }
        </form>

            }
        }
    </div>
</div>
