<!DOCTYPE html>
<html>
<head>
    <title>Pogs R Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/home.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>
    <main>
        <div class="enter">
            <img src="~/assets/Logo.png" class="enter-logo" alt="Pogs R Us Logo" />
            <a asp-controller="Home" class="enter-butt" asp-action="Index1">Enter</a>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>
